#1.1: PRINT AND COMMENTS

Let’s start with one of the simplest but also the most important things you can do in Python: make the computer do something.

Try running the code below to see what happens:

In [ ]:
print("Hello World")

Hello World

You should see “Hello World” displayed on the screen. This is called an output. What you just used is called a print statement.

Try printing “Python is awesome!” by writing it in between the parentheses of your print statement. Make sure to include the quotation marks—double (“”) or single (‘’) quotes work the same.

##1.1.1 Comments Single-line comments 
Try running this next code:

In [ ]:
# print("Hello World")

Notice that nothing happened. That is because by including the hash symbol (#), you are making a comment. Comments do not affect the program as they are only used to make notes to yourself or to a peer who is reading your code.

##1.1.2 Multi-line comments
When using the hash symbol to create a comment, only one line of comment is created. To create a multi-line comment, simply enclose your comments with a triple quote (‘‘‘). For example:

In [ ]:
'''
comment 1
comment 2
comment 3
'''

'\ncomment 1\ncomment 2\ncomment 3\n'

##1.1.3 Formatting print
“\n” next line space
Now, try running the following code snippet:

In [ ]:
print("Hello")
print("World")

Notice that “Hello” and “World” print on separate lines. That is because by default, our print statement will end the line. But what if we want to do the same thing with one print statement rather than two. To do so, we use the new line character, indicated by “\n”.


Run the following code snippet:

In [ ]:
print("Hello\nWorld")

Hello
World

Notice that its output is the same as the previous one.

“\t” tab space
The tab space, like the next line space (“\n”) is another special character and is indicated with a “\t”.

Run the following program:

In [ ]:
print("\tHello World")

	Hello World

Try printing “Python\nIs\nAwesome!” by writing it in between the parentheses of your print statement. Again, make sure to include the quotation marks (double or single quotes work the same).

In [ ]:
# TODO: write code here

# 1.2: DATA TYPES AND VARIABLE

What is a data type?
In computer science, a data type is a label used by the computer to determine a piece of data’s intent and purpose.

The string data type
In the previous lesson, you printed something that was enclosed in quotation marks. A collection of characters, which includes letters, digits, and/or symbols, contained inside single or double quotation marks is known as a string, written as str in Python. A string (str) is a data type that represents a collection of characters.

Examples of **strings**:

All letters: “abcd”, “string”
All digits: “123”, “156”
All symbols: “@#^!”, “!!!!!”, “# # #”, “        ”
Combination of all characters: “Abc123~!”
Note: An empty space, also known as a white space, is a type of symbol.

Note: *A string can even contain nothing: “”*. This is called an empty string.

Other data types
Strings aren’t the only data types in Python. There is also **int**, which represents an integer number such as 1, 50, 123.

Note: “123” is not the same as 123. With quotations, “123” is a string containing the digits “1”, “2”, and “3” whereas 123 represents the numerical value one hundred and twenty three.

In addition to int, there is **float**, which represents real numbers such as 1.3, 3.14, 2.7182. The number, 10.0, is also a float.

Lastly, there is the **bool** (short for boolean) data type, which represents either True or False values. We will explore these data types in more depth and many others as we continue throughout the tutorial.

In [ ]:
# printing a string, "Hello"
print("Hello")

In [ ]:
# printing an int, 7
print(7)

In [ ]:
# printing a float, 1.5
print(1.5)

In [ ]:
# printing a bool, True
print(True)

## VARIABLES

In the previous lesson, we discussed data types and their importance in programming. Data types, as mentioned before, are labels used for the computer to determine the data’s intent and purpose. To store instances of data types, we assign them to a variable. In computer science, variables are identifiers that holds values of various data types.

For example:



```
x = 1.5          # The variable x now has the float value 1.5
y = 2            # The variable y now has the int value 2
z = “Hello”      # The variable z now has the string value “Hello”
```



In the example above, we simply named our variables: x, y, and z. We then assign the values to them using the equal sign, =. Note that this equal sign is not the same as the equal sign you normally see in math class.

Naming variables
Variable names can be long or short. They can contain digits but NOT symbols. The only exception to this is the underscore symbol, _ .

A variable name may start with either a letter or an underscore. Note: A variable name that starts with an underscore has a special meaning to it so for now, do not name any variables starting with an underscore.

Acceptable:


```
my_Variable = 1.5
my_Variable_2 = 2
MyVariable3 = “Hello”
```

Unacceptable:


```
1Variable = 5            # variable names cannot start with digits (1)
Variable@3 = “Hello”     # variable names cannot contain symbols (@)
“Hello” = “hello”        # variable names cannot contain symbols (“ and ”)
```



Naming conventions

In Python, the convention for naming variables is to use lower case letters and digits, and underscores for spacing. So in Python, if we want to name a variable, “my variable 1”, it will be presented as my_variable1. Other programming languages use different naming conventions.

In addition, it is recommended to give variables meaningful names rather than random ones like “x” or “abc”. This is so that the purpose of a variable is clear from its name. Throughout this course, you may find that the examples use single letter variables often but that is used for emphasising the lesson in a simple manner.

Another thing to note is that you do NOT want to name a variable the same name as a keyword that exists in Python. For instance, do not name your variable print, int, float, bool, or str. These have already been defined in Python and if you name a variable one of those keywords, you change the functionality and definition of the variable.

For example:

In [ ]:
print = 10
print("Hello World")

You will get what is known as an error, which will not allow your program to run as desired. Notice the error message that is outputted where your print statements usually appear. We will learn more about the various types of errors as we progress through the course.

##1.2.1 Printing Variables
We can also use print statements on variables too.

Try running the following code:

In [ ]:
x = 1.5
y = 2
z = "Hello"

print(x)
print(y)
print(z)

When a variable holds a value, we can call the variable name to get the value that it is holding. For instance, we can say print(x). Since x currently holds 1.5, calling print(x) will output 1.5.

##1.2.2 Reassignment

Variables are not tied to one instance of a data type. We can change the value that a variable holds freely.

For example:

```
x = 10
x = 12
print(x)
```



The variable x contained the value 10, but then we assigned it to have the value 12. Afterwards, we called print(x), which will output 12, the current value of x. You can also assign a variable to another variable.

Try running the follow program:

In [ ]:
x = 12
y = x

print(x)
print(y)

##1.2.3 Dynamic vs. static typing

One of the benefits of using Python is that variables are not statically typed. A statically typed variable requires a data type to be declared before being assigned a value. So in a statically typed language such as Java or C++ (syntax here is the same for both), we have the following line of code:

int x = 10;
Notice the static typing int is attached to the variable x. This means that the variable, x, may only store integer (int) values.

If we ran this program in Java/C++:

int x = 10;
x = "ten";
It will result in an error because it is simply not allowed to happen. Since the variable x was already declared to only hold an int value, we cannot assign it a string value. Fortunately, in Python, there is no type declaration, we may freely allow variables to hold values of different types and also change them to values of different types. Thus, **Python is known as a dynamically typed language, meaning that there is no data type association** (dynamic means changeable).

Try running the following program:

In [ ]:
x = 12
x = "twelve"
print(x)

Notice that first, we assigned the int, 12, to x. Then we assigned the string, “twelve”, to x so now x holds the string item, “twelve”. Then you made a print statement to output the value of x, which is currently “twelve”.

##1.2.4 Swapping
In some cases, we may want to swap the values of two different variables. For example, if x had the string, “five”, and y had the int, 5, we may want to swap them so that x will now have 5 and y would have “five”.

To swap two variables, we will need the help of a third variable. Remember from earlier that we can reassign a variable another value. For example:

In [ ]:
x = 10
y = "ten"
x = y
# x now has “ten”

y = x
# y gets the value of x (“ten”) which it currently has
# so we just changed the value from “ten” to “ten”

print(x)
print(y)

Notice that the original value of 10, has been lost. However, using a third, variable that we may name temp, we can use the “temporary” variable to hold the original value of x.

Run the following program:

In [ ]:
x = 10
y = "ten"

# Step 1
x,y = y,x

print(x)
print(y)

##1.2.5 Practice
Let’s say you have an apple and your friend has money. Your friend wants to buy your apple and you agree to sell him the apple so you will exchange the apple for his money.

Write a program to swap the values of the variables so that you now have the “money” and your friend has the “apple”. Do this using a temporary variable.

Here is the code to start with:

In [ ]:
you = "apple"
friend = "money"

# TODO: write code here

print(friend)
print(you)

Now try it again using Python’s single line syntax to swap the two values.

In [ ]:
you = "apple"
friend = "money"

# TODO: write code here

print(friend)
print(you)

You should now have the “money” and your friend should have the “apple”.

##1.2.6 Checking variable type
What if you have some variable holding some value and you’re not sure of the data type? Simply, use type( ) with the variable name, or the value itself. type is also a keyword and so you should never name a variable “type”.

Run the following program:

In [ ]:
string1 = "Hello World"
int1 = 10
print(type(string1))
print(type(int1))

Notice that we managed to swap the variables with fewer steps than before.

NoneType
Sometimes we may want to create a variable but not assign it a particular value at the time being. For such a variable, we assign it the NoneType value, None.

For example:

In [ ]:
x = None
print(x)
print(type(x))

This value has no special features. It serves as a placeholder. Because it has no special values, it does not take up much space when created and assigned to a variable.

#1.3: ARITHMETIC OPERATIONS

In mathematics, you may be familiar with the basic arithmetic operators. These operators also apply and are widely used in computer science.

Let’s start with the most basic data type: int.

Run the following program:

In [ ]:
Var1 = 10
Var2 = 10 + 2   # Addition 
Var3 = 10 - 2   # Subtraction 
Var4 = 10 * 2   # Multiplication 
Var5 = 10 / 2   # Division

print(Var1)
print(Var2)
print(Var3)
print(Var4)
print(Var5)

As expected, when you perform the four basic arithmetic operations, you get the same output as what you’d expect in an elementary math class.

Notice that when you perform addition, subtraction, and multiplication on int values, you will always get an int. However, with division, you will always get a float. This is because all addition, subtraction, and multiplication operations on integers will always result with integers, but not all division operations on integers result in an integer.

To simplify this, Python will always convert the type of the quotient of two int values to a float. This is because a float represent all real numbers. We will discuss type conversion in the next chapter.

Arithmetic Operations can also be done with variables that hold an int value.

Try running the code below:

In [ ]:
Var1 = 10         # Assignment
Var2 = Var1 + 2   # Addition 
Var3 = Var1 - 2   # Subtraction 
Var4 = Var1 * 2   # Multiplication 
Var5 = Var1 / 2   # Division 

print(Var1)       # int
print(Var2)       # int
print(Var3)       # int
print(Var4)       # int
print(Var5)       # float

We can also skip storing the int values in variables and, instead, print the result instantly:

In [ ]:
print(10)
print(10 + 2)
print(10 - 2)
print(10 * 2)
print(10 / 2)

Arithmetic Operations done with float values are very similar to int values.

Run the following program:

In [ ]:
Var1 = 12.5 + 2.5   # Addition 
Var2 = 12.5 - 2.5   # Subtraction 
Var3 = 12.5 * 2.5   # Multiplication 
Var4 = 12.5 / 2.5   # Division 

print(Var1)         # float
print(Var2)         # float
print(Var3)         # float
print(Var4)         # float

Notice that despite that the sum of 12.5 and 2.5 results in an integer number, it will still be of the type float.

For the same reason why dividing two int values results in a float, any basic arithmetic operation performed on two float values will result in a float because not all operations between two float values will result in an integer but it can always result in a float value.

**Note**: The int, 10, is equivalent in value to the float, 10.0. They are different in data types.

##1.3.1 Variable update operators
Now that we’ve discussed the 4 basic arithmetic operations, let’s look at another interesting syntax.

Look at the following:


```
x = 6
x = x + 6
print(x)
```



You might have thought about it algebraically. However, remember that the equal symbol in computer science is used for assignment and does not represent equality used in normal math equations that you’re used to seeing.

If we were to following algebra rules, we’d end up with x = x + 6 -> 0 = 6, which wouldn’t make sense at all. What is happening in the code is that first, we assign 6 to x. So x now has 6. We then assign x + 6 to x, which will result in x holding the value 12. Of course, we are still using the basic addition operator.

We can simplify this further by just using a new operator, the += operator.

Run the following program:

In [1]:
x = 6
x += 6
print(x)

12

This will allow you to quickly update the value that the variable holds. But what is the difference? Could it be saving you time from writing the variable name again? Well, that’s just a small part of the benefits of using the += operator instead of the regular + operator.

What happens when you run x = x + 6, you create a copy of the value held in x, and increase the value by 6. The sum is then reassigned back to the same variable, x.

However, with the += operator, the addition is done in place. Because int and float values are relatively small, it is not important whether you use the += or + operator to perform your addition. We will discuss more on these operators when we introduce other data types in the next chapter.

There is also one benefit of using the basic arithmetic syntax and that is you can chain the operator.

Run the following program:

In [ ]:
x = 5
x = x + 5 + 5
print(x)

You can also update the value by performing the other operations mentioned previously by using similar syntax.

##1.3.2 Power Operator
In math class, if you wanted to write a number to the power of another number, you would write something similar to m^n or mn , where m is one number and n is another.

So in the case of m = 2 and n = 3, it would be either 2^3 or 23, which will evaluate to 2 * 2 * 2 = 8.

In Python, you perform such an operation using two asterisks: **

Try running the following program:

In [ ]:
Num1 = 5**2
print(Num1)

Now, try running this program:

In [ ]:
Num1 = 5**2.0
Num2 = 5.0**2
print(Num1)
print(Num2)

Finally, run this program:

In [ ]:
Num1 = 5.0**2.0
print(Num1)

Notice the type differences whether or not the power operation is used on two int values, two float values, or one int and one float value.

An int to the power of an int will result in an int. A float/int to the power of a float will result in a float. A float to the power of a float/int will result in a float.

The reason for this is the same reason mentioned with division between two int values. A float to the power of an int does not always result in an int but can always result in a float. Similarly, an int to the power of a float does not always result in an int but can always result in a float.

##1.3.3 Integer Division (Div Operator)
The div operator is used to find the greatest number of times a number can be subtracted from another number. It is also called integer division because in other languages such as C++ and Java, there are no statically typed variables. As mentioned earlier, statically typed variables may only hold values of a single data type.

For this reason, in Java and C++:

```
int x = 7/2;
```

The variable, x, will actually hold 2. Although 7/2 gives you 3.5, 3.5 is a float value and not an int value. Instead, you will get 2 because you can only at most, 3 times, subtracted 2 from 7.

What actually happens in Java and C++ is that 7/2 will give the value 3.5 and then everything after the decimal point will be removed (truncated), resulting in 3. This also implies that 2 can be subtracted from 7 at most 3 times.

In Python, since division works appropriately with two int values by converting the quotient to a float (this can happen because Python is NOT a statically typed language), there is no integer division happening.

Therefore, Python included the integer division operator which is denoted by two forward slash symbol, //. Regular division in Python is just a single forward slash, /.

Run the following program:

In [ ]:
print(14 // 3)

Since 3 can only be subtracted 14 times, 14//3 will result in 3.

The phrase used for this operation is “14 div 3.”

Note that if we call the div operations on two int values, the resulting value will also be of the type, int. However, if we did the same with two float values, the resulting type will be a float. Same will apply if the div operator is done with one float and one int value.

Run the following program:

In [ ]:
print(14.0 // 3)

## 1.3.4 Modular Division (Mod Operator)

In the previous topic, we discussed the div operator. We now have the Mod operator, sometimes referred to as modulus, or modular arithmetic. Using the mod operator will give you the remainder in a division. This mode operator is denoted by the percent symbol, %.

For example, if you had an int, 14, and another int 3, performing the mod operation 14 % 3 will result in 2 because we will have 2 leftover (the remainder) after subtracting as many 3’s as we can from 14.

Run the following program:

In [ ]:
print(14 % 3)

The remainder of 14/3 gives you 2.

We may also perform a mod operation using two float values or one float and one int value.

Run the following program:

In [ ]:
print(14.0 % 3.0)

The phrase used for this operation is “14 mod 3.”

Similar to the div operation, if we call the mod operations on two int values, the resulting value will also be of the type float. However, if we did the same with two float values, the resulting type will be a float. Same will apply if the mod operator is done with one float and one int value.

Also, you may have noticed that the div and mod operator are related. In the examples mentioned above, 14 // 3 results in 4 and 14 % 3 results in 2.

This gives the relation:


```
(14 // 3) * 3 + 14 % 3 = 14
Plugging in for 14 // 3 and 14 % 3 results in 4 * 3 + 2 = 14.
```


The general formula is:


```
(n // m) * m + n % m = n , where n and m are float(s) or int(s)
```

##1.3.5 Arithmetic operations on strings
It is also possible to perform arithmetic operations on string data types. However, only two operators work: addition (+) and multiplication (*).

Run the following program:

In [ ]:
String1 = "Orange" + "Juice"
print(String1)

We could also do this with variables containing string values.

Run the following program:

In [ ]:
String1 = "Orange"
String2 = "Juice"
String3 = String1 + String2
print(String3)

Alternatively, we can also skip having that third value hold the string that is the sum of String1 and String2.

Run the following program:

In [ ]:
String1 = "Orange"
String2 = "Juice"
print(String1 + String2)

The operation, multiplication, also works with a string. But the difference is that it must be a string value multiplied by an int value.

Run the following program:

In [ ]:
String1 = "Orange"
String2 = String1 * 3
print(String1)
print(String2)

Strings also support the Update Operator for the two operations mentioned above.

Run the following program:

In [ ]:
string1 = "Apple"
string1 += "Juice" # addition
print(string1)

Run the following program:

In [ ]:
string1 = "Apple"
string1 *= 3
print(string1)

##1.3.6 Practice Numeric Comparisons

In [ ]:
a = 21
b = 10
c = 0

if ( a == b ):
   print "Line 1 - a is equal to b"
else:
   print "Line 1 - a is not equal to b"

if ( a != b ):
   print "Line 2 - a is not equal to b"
else:
   print "Line 2 - a is equal to b"

if ( a <> b ):
   print "Line 3 - a is not equal to b"
else:
   print "Line 3 - a is equal to b"

if ( a < b ):
   print "Line 4 - a is less than b" 
else:
   print "Line 4 - a is not less than b"

if ( a > b ):
   print "Line 5 - a is greater than b"
else:
   print "Line 5 - a is not greater than b"

a = 5;
b = 20;
if ( a <= b ):
   print "Line 6 - a is either less than or equal to  b"
else:
   print "Line 6 - a is neither less than nor equal to  b"

if ( b >= a ):
   print "Line 7 - b is either greater than  or equal to b"
else:
   print "Line 7 - b is neither greater than  nor equal to b"

##1.3.7 Practice Arithmetic Operators

In [ ]:
a = 21
b = 10
c = 0

c = a + b
print "Line 1 - Value of c is ", c

c = a - b
print "Line 2 - Value of c is ", c 

c = a * b
print "Line 3 - Value of c is ", c 

c = a / b
print "Line 4 - Value of c is ", c 

c = a % b
print "Line 5 - Value of c is ", c

a = 2
b = 3
c = a**b 
print "Line 6 - Value of c is ", c

a = 10
b = 5
c = a//b 
print "Line 7 - Value of c is ", c

# 2.1 INPUTS AND TYPE CONVERSION

##2.1.1 Inputs
So far, we’ve only done hard coding in our program. Hard coding is coding in such a way that the program itself cannot alter or change anything, including the variables. So if we had the following:

```
x = 5
print(x)
```


No matter how many times we run the program, it will always output 5.

However, we can change that by asking the user for an input. Using an input statement will display a prompt to the user and allow them to enter a value.

Try running the following program and entering a number:

In [ ]:
x = input("Please enter a number")
print(x)

By assigning input to the variable x, our program is no longer hard coded. Different inputs will result in different outputs.

Try running the following program with an int or float:

In [ ]:
x = input("Please enter an int or float")
print(x + 5)

You should receive an error. Why is that? Looking at the error, you may see that the specific error is called a TypeError, which occurs when you perform an operation on data types that cannot be done.

```
TypeError: unsupported operand type(s) for +: 'str' and 'int'
```



Depending on your work environment, the error will be displayed along with the cause of error. We tried printing x + 5, and the error message tells us that the + operand does not work between a str and an int value. We know that the value, 5, in our print statement is an int type. Thus, we can conclude that x is of the type str, despite our attempt to input an int or float.

How can we actually confirm this? Well, we can simply use the type statement discussed in the previous chapter.

```
x = input("Please enter a value")
print(type(x))
```


Inputs are always read in as str type values. So how do we take in an input for other types like int or float?

We simply need to use something called a type conversion.

##2.1.1 Type Conversion

Run the following program:

In [ ]:
x = int(input("Please enter an int"))
print(x + 5)

Your program should now perform the operations correctly if you put in any int type value. However, when you put in a float value, you may notice something went wrong. Python does not allow direct conversion from a str representing a float to an int.

Run the following program:

In [ ]:
x = float(input("Please enter a number"))
print(x * 5)

We have taken the input, which is of str type, and converted it to a float to work.

We can also convert an int to a float.

```
print(float(5))
```

We are changing the int value 5 to a float value of 5.0. Basically, it added a decimal point and a 0.

How about converting a float value to an int value?

Run the following program:

In [ ]:
is_a_float = 1.655 
is_an_int = int(is_a_float)
print(is_an_int)

When Python converts a float to an int, it truncates (or removes) all the numbers after the decimal point.

Now, run this program:

In [ ]:
is_a_string = "1.655"
is_an_int = int(float(is_a_string))
print(is_an_int)

Notice that the outputs are the same.

Remember that inputs are of the type str, so what happens when we convert our input str representing a float to an int is that the str must first converted to a float, and then the float can be converted to an int.

We know what will happen when we try to convert a str that represents a float to a float or to an int.

In [ ]:
print(float("1.5"))
print(int("3"))

We can also do the reverse and convert a float and int to a str.

In [ ]:
x = 1.5   
print(x)
print(type(x))

y = 3
print(y)
print(type(y))

print(str(x))
print(type(str(x))
print(str(y))
print(type(str(y))

What if we tried converting a str that does not represent a float or int?

Let’s try it:

In [ ]:
print(float("Hello World"))

When performing addition on an int and str, we received TypeError. This time, it is a ValueError, which occurs when you enter a value that is not compatible for conversion. The specific reason is given: “hello world” cannot be converted to an int or float as it does not logically make sense.

##2.1.2 Bool conversion
Of course, there is also the bool data type:

In [ ]:
the_bool = bool(input("Please enter True or False"))
print(the_bool)
print(type(the_bool))

If you input true, True, or even TRuE, the output should be:


```
True
<type 'bool'>
```


If you input false, False, or even FALSE, the output should be:


```
True
<type 'bool'>
```


You are probably surprised to see that the outputs are the same. This occurs because inputs are always read as strings. In Python, if you convert a str to a bool, it will result in True ONLY if the str is not empty. If the str is empty, “” (empty quotations), then Python will convert this to False.

If you input an empty string ‘’ (single quotes) or “” (double quotes), the output will be:


```
False
<type 'bool'>
```


What about int and float values? If an int value is 0, converting it to a bool will result in False. Every other integer number (including negative numbers) will result in True:

In [ ]:
print(bool(0))   
print(bool(1))
print(bool(-1))

For a float value, if the value is 0.0, converting it to a bool will result in False. Like int values, every other float number (including negative numbers) will result in True:

In [ ]:
print(bool(0))
print(bool(1.5))
print(bool(-1.5))

How about converting a bool to a str, float, or int?

Since a bool can only be True or False, if you convert a bool to a str, it will become “True” or “False”.

Try running the following program:

In [ ]:
print(str(True))
print(type(str(True)))
print(str(False))
print(type(str(False)))

As for int, converting a bool will result in 0 if the bool is False, and 1 if the bool is True.

Run the following program:

In [ ]:
print(int(True))
print(type(int(True)))
print(int(False))
print(type(int(False)))

Similarly, converting a bool to a float will result in 0.0, if the bool is False, and 1 if the bool is True.

Run the following program:

In [ ]:
print(float(True))
print(type(float(True))
print(float(False))
print(type(float(False))

##2.1.3 Printing literal plus variables
Let us continue on with the use of input and make the program more interactive.

Run the following program and enter your name:

In [ ]:
your_name = input("Please enter your name")
print("Hello", your_name)


```
Please enter your namejohn
Hello john
```

Notice that we can print more than one value by separating them with commas. This is especially useful for formatting.

For example:

In [ ]:
your_name = input("Please enter your name")
print("Hello", your_name, "Welcome to Python!")

Write a program that asks the user for their name and age, and then print:


```
Hello (name)! You are (age) years old.
```

#2.2 CONDITIONAL STATEMENTS 

When programming, you sometimes want to have something occur based on a certain condition. This also applies to real life situations. For example, recall the practice problem with swapping an apple for money from lesson 1.3.

In a real situation, you would only follow through with the exchange if the person can afford to purchase the apple.

To check if a condition is met in Python, we use an if statement.

Run the following program:

In [ ]:
cost = float(input("How much for the Apple"))
money = float(input("How much money do I have?"))

if money > cost:
    print("I can afford the Apple")

This program asks the user to input the cost of the apple, and how much the person currently has. If the person currently has more money than the cost, the program will output, “I can afford the Apple”. In this case, the condition is that money must be greater than the cost. If you have more money, you can afford the cost of an apple.

The if statement is written by using the keyword if, followed by a condition, and then a : (colon). In the line below the statement, press tab to start with an indent. Then, write the action you want to perform. In this case, we placed a print statement inside the if statement. The indent indicates that the print statement is INSIDE the if statement.

The general format for an if statement is:

```
if condition:
    action
```

Let’s continue writing code after the if statement:

In [ ]:
cost = float(input("How much for the Apple"))
money = float(input("How much money do I have?"))

if money > cost:
    print("I can afford the Apple")

print("After the if statement")

Notice that the print statement after the if statement (not the one inside) will always run, regardless of the condition. This is because it is outside of the if statement. Code outside the if statement is not affected.

Recall that a bool (boolean) represents True or False values. If we look at the if statement we have set the condition to be money > cost. Is the value of money greater than the value of cost? The answer to such a question is yes or no—or in computer science, True or False.

Let’s hardcode our values for cost and money and run the following program:

In [ ]:
cost = 1.5
money = 4.5

print(money > cost)
print(type(money > cost))

Notice that the type of a condition is bool (boolean).

We can also have multiple if statements!

Run the following code:

In [ ]:
num = int(input("Please enter an integer value"))

if num > 0:
    print("The number is positive")
    
if num > 20:
    print("The number is greater than 20")

It is also common for programmers to leave a line empty in between various if statements so that it would be easier to read the code.

Sometimes we may want to avoid having multiple if statements and just want only one condition. If it works, then print this, otherwise print that. To achieve this, we use the else keyword.

In [ ]:
num = int(input("Please enter an integer value"))

if num > 0:
    print("The number is positive")
    
else:
    print("The number is not positive")

Notice that the else statement does not require a condition because it will run the code inside the else statement if the if statement above is False. You can think of if, else as one or the other. You can only have one else statement for each if statement.

##2.2.1 Nested conditions

We can also have additional conditional statements inside the given if and else statements.

In [ ]:
num = int(input("Please enter an integer value"))

if num > 0:
    if num < 20:
        print("The number is positive and less than 20")
    else:
        print("The number is positive")

else:
    print("The number is not positive")

This is known as nested conditional statements, which occur when an if statement is inside an if or else statement.

According to the conditional statements in the program above:

```
If we input 19 for num, we can expect it to print “The number is positive and less than 20”, since it is greater than 0 and also less than 20.
If we input 20 for num, we can expect it to print “The number is positive”, since it is greater than 0 but not less than 20.
If we input 0 for num, the first if condition will become False, since 0 is not greater than 0.
We will then go to the else statement and print The number is not positive.
Finally, we may want to add conditions in between if and else statements. As mentioned earlier, if and else can be seen as one or the other. However, we may want to have various if conditions that run only when the previous condition is False.
```

For example, I may want to go to a grocery store and purchase a refreshment because I’m thirsty:

I want soda. If they don’t have soda, I will get juice. If they do not have juice, I will just get water.
For this situation, we would want to use the equality to check if the refreshment is actually a soda or juice. We’ve seen the less than (<) and greater than (>) comparisons. To do an equality comparison, the syntax is ==, two equal symbols. The single = symbol is used for assignment.

The following program represents such a scenario:

```
refreshment = input("What refreshment is available?")

if refreshment == "soda":
    print("I will purchase soda")

else:
    if refreshment == "juice":
        print("I will purchase juice")
    else:
        print("I will purchase water")
```

If “soda” is the refreshment available, the program will print “I will purchase soda” and not go through with the else statement.

If not, it will go through a nested if statement inside the else statement to check if the refreshment available is “juice”. If the refreshment is not equal to “juice”, then we will have the program print “I will purchase water”.

##2.2.2 Using elif

We can shorten the program above by merging the nested statements inside the outer else statement.


```
refreshment = input("What refreshment is available?")

if refreshment == "soda":
    print("I will purchase soda")

elif refreshment == "juice":
    print("I will purchase juice")
else:
    print("I will purchase water")
```

When you have an if statement nested inside an else statement, you can merge them to become an elif (else if) statement. If there is also an else statement nested, simply take it out.

We can also have inequality, which is represented by the syntax !=.

To illustrate, let’s change the previous example to where I will buy a refreshment if it’s not water.

refreshment = input("What refreshment is available?")

if refreshment != "water":
    print("I will purchase this refreshment")
If the refreshment available is “juice”, the program will print “I will purchase this refreshment”, since the condition refreshment != “water” becomes True since the refreshment is “juice”.

Let’s see what happens when we change the program by making != into == :

In [ ]:
refreshment = input("What refreshment is available?")

if refreshment == "water":
    print("I will purchase this refreshment")

Then the program will only run the print statement if the refreshment is “water”.

The comparisons we made so far include > (greater than), < (less than), == (equal to), and !=(not equal to). The symbols used for >, <, ==, and != are called comparison operators.

There are also <= (less than or equal to) and >= (greater than or equal to) symbols. In addition, we can create a range using these comparison operators.

An exclusive example, which includes an open range (not including 10.5 and 20.5):


```
num = float(input("Please enter a number")

if 10.5 < num < 20.5: 
    print("The number is between 10.5 and 20.5, exclusively")
An inclusive example, which includes a closed range (including 10.5 and 20.5):

num = float(input("Please enter a number")

if 10.5 <= num <= 20.5:
    print("The number is between 10.5 and 20.5, inclusively")
```

##2.2.3 Practice1

Write a program that asks the user to enter the temperature today in Celsius. Depending on the conditions, the program will have different responses. If the temperature is below 15, then the program will print “It is cold.” If the temperature is above 15 but below 20, the program will print “It is warm.” For any other temperature, the program will print “It is hot.”

Here is the code for you to start:

In [ ]:
temperature = 10

# TODO: finish code here

##2.2.4 Str comparison

We have made comparisons between int and float values. However, how does str compare? We know that the == results in True if the strings have the same exact characters and != results in True if the strings do not have the same exact characters.

What about the other comparison operators like <, >, <=, and >= ?

Let’s find out:

In [ ]:
String1 = "Hello"
String2 = "World"

print(String1 < String2)

What happened? How is the comparison done? This comparison is done by ordinance. Ordinance refers to the numerical ranking of each character using an ASCII table (is shown below). 

##2.2.5 ASCII table 

```
Dec	Hex	Oct	Char	Description
0	00	000	^@	Null (NUL)
1	01	001	^A	Start of heading (SOH)
2	02	002	^B	Start of text (STX)
3	03	003	^C	End of text (ETX)
4	04	004	^D	End of transmission (EOT)
5	05	005	^E	Enquiry (ENQ)
6	06	006	^F	Acknowledge (ACK)
7	07	007	^G	Bell (BEL)
8	08	010	^H	Backspace (BS)
9	09	011	^I	Horizontal tab (HT)
10	0A	012	^J	Line feed (LF)
11	0B	013	^K	Vertical tab (VT)
12	0C	014	^L	New page/form feed (FF)
13	0D	015	^M	Carriage return (CR)
14	0E	016	^N	Shift out (SO)
15	0F	017	^O	Shift in (SI)
16	10	020	^P	Data link escape (DLE)
17	11	021	^Q	Device control 1 (DC1)
18	12	022	^R	Device control 2 (DC2)
19	13	023	^S	Device control 3 (DC3)
20	14	024	^T	Device control 4 (DC4)
21	15	025	^U	Negative acknowledge (NAK)
22	16	026	^V	Synchronous idle (SYN)
23	17	027	^W	End of transmission block (ETB)
24	18	030	^X	Cancel (CAN)
25	19	031	^Y	End of medium (EM)
26	1A	032	^Z	Substitute (SUB)
27	1B	033	^[	Escape (ESC)
28	1C	034	^\	File separator (FS)
29	1D	035	^]	Group separator (GS)
30	1E	036	^^	Record separator (RS)
31	1F	037	^_	Unit separator (US)
32	20	040		Space
33	21	041	!	Exclamation mark
34	22	042	"	Quotation mark/Double quote
35	23	043	#	Number sign
36	24	044	$	Dollar sign
37	25	045	%	Percent sign
38	26	046	&	Ampersand
39	27	047	'	Apostrophe/Single quote
40	28	050	(	Left parenthesis
41	29	051	)	Right parenthesis
42	2A	052	*	Asterisk
43	2B	053	+	Plus sign
44	2C	054	,	Comma
45	2D	055	-	Hyphen/Minus
46	2E	056	.	Full stop/Period
47	2F	057	/	Solidus/Slash
48	30	060	0	Digit zero
49	31	061	1	Digit one
50	32	062	2	Digit two
51	33	063	3	Digit three
52	34	064	4	Digit four
53	35	065	5	Digit five
54	36	066	6	Digit six
55	37	067	7	Digit seven
56	38	070	8	Digit eight
57	39	071	9	Digit nine
58	3A	072	:	Colon
59	3B	073	;	Semicolon
60	3C	074	<	Less-than sign
61	3D	075	=	Equal/Equality sign
62	3E	076	>	Greater-than sign
63	3F	077	?	Question mark

Dec	Hex	Oct	Char	Description
64	40	100	@	Commercial at/At sign
65	41	101	A	Latin capital letter A
66	42	102	B	Latin capital letter B
67	43	103	C	Latin capital letter C
68	44	104	D	Latin capital letter D
69	45	105	E	Latin capital letter E
70	46	106	F	Latin capital letter F
71	47	107	G	Latin capital letter G
72	48	110	H	Latin capital letter H
73	49	111	I	Latin capital letter I
74	4A	112	J	Latin capital letter J
75	4B	113	K	Latin capital letter K
76	4C	114	L	Latin capital letter L
77	4D	115	M	Latin capital letter M
78	4E	116	N	Latin capital letter N
79	4F	117	O	Latin capital letter O
80	50	120	P	Latin capital letter P
81	51	121	Q	Latin capital letter Q
82	52	122	R	Latin capital letter R
83	53	123	S	Latin capital letter S
84	54	124	T	Latin capital letter T
85	55	125	U	Latin capital letter U
86	56	126	V	Latin capital letter V
87	57	127	W	Latin capital letter W
88	58	130	X	Latin capital letter X
89	59	131	Y	Latin capital letter Y
90	5A	132	Z	Latin capital letter Z
91	5B	133	[	Left square bracket
92	5C	134	\	Reverse solidus/Backslash
93	5D	135	]	Right square bracket
94	5E	136	^	Circumflex accent/Caret
95	5F	137	_	Underscore/Low line
96	60	140	`	Grave accent
97	61	141	a	Latin small letter a
98	62	142	b	Latin small letter b
99	63	143	c	Latin small letter c
100	64	144	d	Latin small letter d
101	65	145	e	Latin small letter e
102	66	146	f	Latin small letter f
103	67	147	g	Latin small letter g
104	68	150	h	Latin small letter h
105	69	151	i	Latin small letter i
106	6A	152	j	Latin small letter j
107	6B	153	k	Latin small letter k
108	6C	154	l	Latin small letter l
109	6D	155	m	Latin small letter m
110	6E	156	n	Latin small letter n
111	6F	157	o	Latin small letter o
112	70	160	p	Latin small letter p
113	71	161	q	Latin small letter q
114	72	162	r	Latin small letter r
115	73	163	s	Latin small letter s
116	74	164	t	Latin small letter t
117	75	165	u	Latin small letter u
118	76	166	v	Latin small letter v
119	77	167	w	Latin small letter w
120	78	170	x	Latin small letter x
121	79	171	y	Latin small letter y
122	7A	172	z	Latin small letter z
123	7B	173	{	Left curly bracket
124	7C	174	|	Vertical line/Vertical bar
125	7D	175	}	Right curly bracket
126	7E	176	~	Tilde
127	7F	177	DEL	Delete (DEL)
```

##2.2.6 Bool comparison

So far, we have made comparisons between str, int, float data types. We can also compare bool data types.

We can rewrite the problem to ask the user if there is water at the grocery store. If there is, purchase it.

```
is_water = bool(input("Is water available (True or False)?""))

if is_water == True:
    print("I will purchase this refreshment")
```

To respond to the question, the user would be prompted to enter True or False. However, if you recall from the previous lesson for str to bool conversion, only an empty str will result in False if converted to a bool.

Thus, we would have to rewrite the program like so:


```
is_water = input("Is water available (True or False)?")

if is_water == "True":
    is_water = True
else:
    is_water = False

if is_water == True:
    print("I will purchase this refreshment")
```


We can simplify this further. For this demonstration, we will assume the user has already input “True”.

```
is_water = True

if is_water == True:
    print("I will purchase this refreshment")
```

Since we hardcoded the program to set is_water to be True, running it will display “I will purchase this refreshment”.

Notice that the value of is_water is True, and in the comparison, we are comparing is_water to a boolean, True.

Thus, we are simply asking is True == True. Since True is equal to True, the condition will be True.

What if the user inputs False?

```
is_water = False

if is_water == True:
    print("I will purchase this refreshment")
```

The program will not print “I will purchase this refreshment” since False == True is False.

Notice that we made an unnecessary comparison check.

If is_water == True, then is_water == True will always result in True. If is_water == False, then is_water == True will always result in False.

We can simplify the program to avoid the unnecessary comparison check.

Run the following program:

In [ ]:
is_water = True

if is_water:
    print("I will purchase this refreshment")

Notice that we did not need to write is_water == True because is_water itself is a bool. Thus, we can simply say if is_water to check if it is True.

But what happens if we enter a condition that is not a bool nor a comparison which results in a bool?

Recall that the general format for an if conditional statement is:



```
if (condition):
    (action)
```


We also stated that the condition is of the bool data type. So what happens if we enter an int, float, or str?

The int, float, or str value will be converted to a bool.



```
if 1 == True:
    print("The int 1 is converted to True")
```


Again, we can also avoid the comparison:



```
if 1:
    print("the int 1 is converted to True")
```


As mentioned in lesson 2.1, an int will convert to True if it is any number other than 0.

If the int value is 0, it will be converted to False:



```
if 0:
    print("The int 0 is converted to False")
```


Of course, we can make a comparison to allow the condition to become True:



```
if 0 == False:
    print("The int 0 is converted to False")
```


Here is a table showing the conversion from str, int, float to a bool.

```
TYPE_X     TRUE    FALSE

int         x!=0    x==0  
float       x!=0.0  x==0.0  
str         x!=''   x==''  


```

##2.2.7 None Type

In addition, using a variable that is assigned None, as a condition will result in the condition being False:

In [ ]:
x = None
if (x == False):
    print ("None is False")
if (x != True):
    print("None is not True")

Earlier, the following code was provided to have the user input True or False.

In [ ]:
is_water = input("Is water available (True or False)?")

if is_water == "True":
    is_water = True
else:
    is_water = False

if is_water == True:
    print("I will purchase this refreshment")

Is water available (True or False)?True
I will purchase this drink

Using your knowledge of type conversion and boolean conditions, have the user input a 1 or 0 to answer the question, “Is water available?” (1 if True, 0 if False). Have the program print “I will purchase this refreshment” if water is available.

Note: We don’t want the program to fail silently, which means that the program does not display or change anything after running because of conditions that do not meet or because of errors in the program.

In this case, the program will fail silently if we input a 0. To avoid silent failure, include an else statement with the if statement to have it print “I will not purchase this refreshment”.

Here’s the code for you to start:

In [ ]:
is_water = int(input("Is water available? (1 if True or 0 if False)?"))

# TODO: finish code here

Your solution should be noticeably cleaner and shorter. In addition, having the user enter a single digit is an added convenience!

#2.3 LOGICAL OPERATORS

##2.3.1 And operator

There are times when you may want multiple conditions to be met before running code inside an if statement. The most common case is when you want more than one conditions to be met.

To write multiple conditions that need to be met, we need to use the keyword, and. The keyword, and, is a logical operator that requires ALL conditions to be met.

For example, let’s visit the grocery store once again. You want to purchase a refreshment. Like in the original case, you want to purchase soda. You can only purchase soda if it is available. In addition, you will need money to purchase soda. Only when those two cases are met will you be able to purchase your beverage.

Let’s assume you have enough money and that the refreshment is indeed soda water. We will hardcode this.

The program will be written as such:



```
is_soda = True
have_money = True

if is_soda == True and have_money == True:
    print("I will purchase this refreshment")
Of course, we can simplify this by removing unnecessary comparisons:

is_soda = True
have_money = True

if is_soda and have_money:
    print("I will purchase this refreshment")
```


Notice that since both conditions are met, the print statement was able to run.

However, what happens if one of the conditions is not met?

In [ ]:
is_soda = True
have_money = False

if is_soda and have_money:
    print("I will purchase this refreshment")

Because both conditions were not met in the if statement, the program did not run the print statement. As you learned in the previous lesson, because there was no else statement, the program simply failed silently.

We can also chain the and logic operator and have more than 2 conditions.

Let’s revise the grocery store situation so that you will only purchase the soda if you are also thirsty:

In [ ]:
is_soda = True
have_money = True
is_thirsty = True

if is_soda and have_money and is_thirsty:
    print("I will purchase this refreshment")

Of course, if any of those three variables happened to be False, then we will experience silent failure.

Let’s fix that and change it so that you are currently not thirsty and make sure our program does not fail silently:

In [ ]:
is_soda = True
have_money = True
is_thirsty = False

if is_soda and have_money and is_thirsty:
    print("I will purchase this refreshment")
else:
    print("I will not purchase this refreshment")

Sometimes we may have varying print statements if conditions are not met, especially if all conditions must be met. We want to indicate what caused the condition to become False.

In [ ]:
is_soda = True
have_money = False
is_thirsty = False

if is_soda and have_money and is_thirsty:
    print("I will purchase this refreshment")
else:
    print("I will not purchase this refreshment")
    if is_soda == False:
        print("Soda is not available")

    if have_money == False:
        print("I do not have money")

    if is_thirsty == False:
        print("I am not thirsty")

We can also use the and logical operator for comparisons.

Recall the following code from the previous lesson:



```
num = int(input("Please enter an integer value"))

if num > 0:
    if num < 20:
        print("The number is positive and less than 20")
    else:
print("The number is positive")
else:
    print("The number is not positive")
```


As mentioned in the previous lesson, this is known as nested conditional statements (an if statement inside an if or else statement)

We can also rewrite this by merging the outer if statement with the inner if and else statements.

If we have nested if statements, we will need to use the keyword and to make sure both conditions are satisfied. As for the else statement inside the if statement, we will change that to the keyword, elif (else if) and reuse the condition of the outer if statement.



```
num = int(input("Please enter an integer value"))

if num > 0 and num < 20:
    print("The number is positive and less than 20")

elif num > 0:
    print("The number is positive")

else:
    print("The number is not positive")##
```


The keyword and means that BOTH conditions must be satisfied. The number, num, must be greater than 0 AND less than 20.

##2.3.2 Or operator

There are also times when you may want the program to run code inside an if statement, as long as one of many conditions is met.

For instance, in a real-life situation, you may want to visit a doctor if you have symptoms indicating some sickness.

Let’s assume that the only symptom you have is a fever. The program will be written as such:

In [ ]:
fever = True
cough = False

if (fever or cough):
    print("I will see a doctor")

Notice that only one of the two conditions was needed to allow the print statement to run.

Like with the and operator, you can chain the or operator:

In [ ]:
fever = True
cough = False
fatigue = False

if (fever or cough or fatigue):
    print("I will see a doctor")

The or operator also works with non-bool type conditions:

In [ ]:
if (1 or 0 or 1):
    print("There is at least one 1 (True) in the condition")

##2.3.3 Not operator

You can also use the keyword not to indicate that you want the opposite or negation of a bool value. This is useful when you know a condition will be False, but still want to have the code run when the condition is False.

To do this, we use the not keyword before the condition so that it becomes not False, which is the equivalent of True. Since the condition becomes True, the code inside the if statement will run.

If we expect the condition to be True, then placing the not keyword before the condition will render it not True, which is False, and the code inside the if statement will not run.

The not operator has the same effect as the != operator but the syntax is a little different. You can see how to use != and not.

For example:

In [ ]:
# using !=

password = input("What's the password")

if password != "8734":
    print("Sorry, that's the wrong password")

In the first case, the condition password != “8734” will return True, allowing the print statement inside the if statement to run.

In [ ]:
# using not

password = input("What's the password")

if not password == "8734":
    print("Sorry, that's the wrong password")

In the second case, the condition password == “8734” will return False, but because of the keyword, not, the bool is negated and flipped to True. Since the condition is now True, the print statement inside the if statement will run.

Also recall from the previous lesson that if a condition is False and we are not using a comparison operator, which has an opposite/ negative operator, we had to use the equality operator to compare it to False or inequality operator to compare it to True.

For example:


```
the_bool = False

if the_bool == False:
    print("the_bool is false")

if the bool != True:
    print("the_bool is false (not true)")
```


However, we can simply use the not logical operator to avoid the comparison. Running the following program should produce the same output:

In [ ]:
the_bool = False

if not the_bool:
    print("the_bool is false but not the_bool is not False (True)")

The not operator also works when using an int, float, or str, which is converted to a bool for the condition:

In [ ]:
if 1:
    print("1 is True")

if not 0:
    print("not 0 is True")

The not operator will also apply for the NoneType, None.

Since None is converted to False in the condition, not None will negate it and make it True.

In [ ]:
x = None

if not x:
    print("not None is True")

 # 3.1 STRINGS AND METHODS

In this lesson, we will talk about various str methods. A method is a function that belongs to an object. Here we see two new terms: function and object.

**A function in computer science is a group of statements that performs a specific task. A method is a specific function that is associated with an object and is owned by it. But what is an object? An object is an instance of a data type.**

For example:



```
When we assign an int 7, to a variable, an_int, we have created an int object with the value 7. 
When we assign a float, 5.57, to a variable, a_float, we have created a float object with the value 5.57. 
When we assign a bool, True, to a variable, a_bool, we have created a bool object with the value True. 
```

Likewise, when we assign a str, “Hello World” to a variable, a_string, we have created a str object with the value “Hello World.” We will learn more about objects and functions later on.

However, what makes a str different from the other data types that we’ve covered so far in the course? The answer is that a str is a collection. A collection is a group of smaller objects. A str (string) object is a collection of single character strings.

For example, the str, “Hello World!” is a **collection** of the following individual strings:


```
“H” + “e” + “l” + “l” + “o” + “ “ + “W” + “o” + “r” + “l” + “d” + “!” 
```


We will discuss further in detail in the following lessons in this chapter on what entails a collection and the features it has. We will also examine a new collection in the upcoming lessons and various others in the next chapter.

First, let’s talk about methods. The str object has many methods that can be useful when programming. These methods are sets of tasks that are performed by the object that can provide us information about an object.

We will examine the various methods of the str object in this chapter. Methods may either change the object or return some value.

Below are some methods of the str class that may be useful as you continue to program in Python:

Let’s start with a few useful methods that are used for strings containing only characters.

To call a method for an object, simply type the variable name associated with the object, followed by a dot, and then the method name with parentheses included ( ).

##3.1.1 capitalize( ) method 
Calling capitalize creates a new str with the first character of the str as an uppercase. If the first character is already in uppercase or is not a letter, the new str created will be the same as the original str.

In [ ]:
string = "python CODING 123!"
print(string)
new_string = string.capitalize()
print(new_string)

In [ ]:
string = "python CODING 123!"
print(string)
new_string = string.lower()
print(new_string)

##3.1.2 lower( ) method
Calling lower creates a new str with the all letter characters in lower cases. If there are no upper case characters, the new str created will be the same as the original str.

In [ ]:
string = "python CODING 123!"
print(string)
new_string = string.lower()
print(new_string)

##3.1.3 upper( ) method
Calling upper creates a new str with the all letter characters in upper cases. If there are no lower case characters, the new str created will be the same as the original str.

In [ ]:
string = "python CODING 123!"
print(string)
new_string = string.upper()
print(new_string)

##3.1.4 isdigit( ) method
Calling isdigit checks if the str value is only composed of digits.

In [ ]:
only_digits = "12512"
print(only_digits.isdigit())    # returns True

has_digits = "12mn3"
print(has_digits.isdigit())     # returns False

no_digits = "mnop"
print(no_digits.isdigit())      # returns False

##3.1.5 isalpha( ) method
Calling isalpha checks if the str value is only composed of only letters from the alphabet.

In [ ]:
only_letters = "abcdef"
print(only_letters.isalpha())    # True

has_letters = "12mn3"
print(has_letters.isalpha())     # False

no_letters = "1245@"
print(no_letters.isalpha())      # False

##3.1.6 isspace( ) method
Calling isspace checks if the str value is only composed of white spaces.

In [ ]:
only_spaces = "    "
print(only_spaces.isspace())    # True

has_spaces = "12  3"
print(has_spaces.isspace())     # False

no_spaces = "mnop"
print(no_spaces.isspace())      # False

##3.1.7 isalnum( ) method
Calling isalnum checks if the str value is only composed of digits and/or letters.

In [ ]:
only_digits = "12512"
print(only_digits.isalnum())           # True

only_letters = "abcdef"
print(only_letters.isalnum())          # True

has_digits = "1245@"
print(has_digits.isalnum())            # False

has_letters = "mnop"
print(has_letters.isalnum())           # True

has_digits_letters = "12mn3"
print(has_digits_letters.isalnum())    # True

no_digits_letters = "@ @ @ !"
print(no_digits_letters.isalnum())     # False

These methods can be used in comparisons since they return a bool.

##3.1.8 find() and replace() method

**Find Method**

It determines if string str occurs in string, or in a substring of string if starting index beg and ending index end are given.

Syntax


```
str.find(str, beg=0, end=len(string))
```



Parameters


```
str − This specifies the string to be searched.

beg − This is the starting index, by default its 0.

end − This is the ending index, by default its equal to the length of the string.
```

Return Value


```
Index if found and -1 otherwise.
```

In [ ]:
str1 = "this is string example....wow!!!";
str2 = "exam";

print (str1.find(str2))
print (str1.find(str2, 10))
print (str1.find(str2, 40))

**Note**: The method rfind() returns the last index where the substring str is found, or -1 if no such index exists, optionally restricting the search to string[beg:end].

Syntax
Following is the syntax for rfind() method −


```
str.rfind(str, beg=0 end=len(string))
```


Parameters


```
str − This specifies the string to be searched.

beg − This is the starting index, by default its 0.

end − This is the ending index, by default its equal to the length of the string.

```


Return Value


```
This method returns last index if found and -1 otherwise.
```


**Replace Method**

The method replace() returns a copy of the string in which the occurrences of old have been replaced with new, optionally restricting the number of replacements to max.

Syntax - Following is the syntax for replace() method −


```
str.replace(old, new[, max])
```



Parameters


```
old − This is old substring to be replaced.

new − This is new substring, which would replace old substring.

max − If this optional argument max is given, only the first count occurrences are replaced.
```



Return Value


```
This method returns a copy of the string with all occurrences of substring old replaced by new. If the optional argument max is given, only the first count occurrences are replaced.
```

In [ ]:
str = "this is string example....wow!!! this is really string"
print (str.replace("is", "was"))
print (str.replace("is", "was", 3))

##3.1.9  List of useful str Methods

```
Sr.No.	Methods with Description
1	capitalize()
Capitalizes first letter of string

2	center(width, fillchar)
Returns a space-padded string with the original string centered to a total of width columns.

3	count(str, beg= 0,end=len(string))
Counts how many times str occurs in string or in a substring of string if starting index beg and ending index end are given.

4	decode(encoding='UTF-8',errors='strict')
Decodes the string using the codec registered for encoding. encoding defaults to the default string encoding.

5	encode(encoding='UTF-8',errors='strict')
Returns encoded string version of string; on error, default is to raise a ValueError unless errors is given with 'ignore' or 'replace'.

6	endswith(suffix, beg=0, end=len(string))
Determines if string or a substring of string (if starting index beg and ending index end are given) ends with suffix; returns true if so and false otherwise.

7	expandtabs(tabsize=8)
Expands tabs in string to multiple spaces; defaults to 8 spaces per tab if tabsize not provided.

8	find(str, beg=0 end=len(string))
Determine if str occurs in string or in a substring of string if starting index beg and ending index end are given returns index if found and -1 otherwise.

9	index(str, beg=0, end=len(string))
Same as find(), but raises an exception if str not found.

10	isalnum()
Returns true if string has at least 1 character and all characters are alphanumeric and false otherwise.

11	isalpha()
Returns true if string has at least 1 character and all characters are alphabetic and false otherwise.

12	isdigit()
Returns true if string contains only digits and false otherwise.

13	islower()
Returns true if string has at least 1 cased character and all cased characters are in lowercase and false otherwise.

14	isnumeric()
Returns true if a unicode string contains only numeric characters and false otherwise.

15	isspace()
Returns true if string contains only whitespace characters and false otherwise.

16	istitle()
Returns true if string is properly "titlecased" and false otherwise.

17	isupper()
Returns true if string has at least one cased character and all cased characters are in uppercase and false otherwise.

18	join(seq)
Merges (concatenates) the string representations of elements in sequence seq into a string, with separator string.

19	len(string)
Returns the length of the string

20	ljust(width[, fillchar])
Returns a space-padded string with the original string left-justified to a total of width columns.

21	lower()
Converts all uppercase letters in string to lowercase.

22	lstrip()
Removes all leading whitespace in string.

23	maketrans()
Returns a translation table to be used in translate function.

24	max(str)
Returns the max alphabetical character from the string str.

25	min(str)
Returns the min alphabetical character from the string str.

26	replace(old, new [, max])
Replaces all occurrences of old in string with new or at most max occurrences if max given.

27	rfind(str, beg=0,end=len(string))
Same as find(), but search backwards in string.

28	rindex( str, beg=0, end=len(string))
Same as index(), but search backwards in string.

29	rjust(width,[, fillchar])
Returns a space-padded string with the original string right-justified to a total of width columns.

30	rstrip()
Removes all trailing whitespace of string.

31	split(str="", num=string.count(str))
Splits string according to delimiter str (space if not provided) and returns list of substrings; split into at most num substrings if given.

32	splitlines( num=string.count('\n'))
Splits string at all (or num) NEWLINEs and returns a list of each line with NEWLINEs removed.

33	startswith(str, beg=0,end=len(string))
Determines if string or a substring of string (if starting index beg and ending index end are given) starts with substring str; returns true if so and false otherwise.

34	strip([chars])
Performs both lstrip() and rstrip() on string.

35	swapcase()
Inverts case for all letters in string.

36	title()
Returns "titlecased" version of string, that is, all words begin with uppercase and the rest are lowercase.

37	translate(table, deletechars="")
Translates string according to translation table str(256 chars), removing those in the del string.

38	upper()
Converts lowercase letters in string to uppercase.

39	zfill (width)
Returns original string leftpadded with zeros to a total of width characters; intended for numbers, zfill() retains any sign given (less one zero).

40	isdecimal()
Returns true if a unicode string contains only decimal characters and false otherwise.
```

## 3.1.10 Practice

In [ ]:
var1 = 'Hello World!'
var2 = "Python Programming"

print ("var1[0]: ", var1[0])
print ("var2[1:5]: ", var2[1:5])

print ("Updated String :- ", var1[:6] + 'Python')

para_str = """this is a long string that is made up of
several lines and non-printable characters such as
TAB ( \t ) and they will show up that way when displayed.
NEWLINEs within the string, whether explicitly given like
this within the brackets [ \n ], or just a NEWLINE within
the variable assignment will also show up.
"""
print (para_str)

var1[0]:  H
var2[1:5]:  ytho
Updated String :-  Hello Python
this is a long string that is made up of
several lines and non-printable characters such as
TAB ( 	 ) and they will show up that way when displayed.
NEWLINEs within the string, whether explicitly given like
this within the brackets [
 ], or just a NEWLINE within
the variable assignment will also show up.

##3.1.11 More Practice

In [ ]:
input_string = raw_input("Please enter a string: ")

if input_string.isspace():
    print("only white spaces")
    
elif input_string.isalpha():
    print("only letters")

elif input_string.isdigit():
    print("only digits")

elif input_string.isalnum():
    print("digits and letters")
    
else:
    print("digits, letters, and/or symbols")

#3.1.12 Note that str is an immutable

Although the str is a collection, there are no methods that change the values. This is because the str is an immutable collection, meaning that it cannot be changed once created. Instead, we would have to create a new str object.

This is also the case for addition and multiplication operations. When you perform the addition or multiplication operations on str objects, you are creating a new collection with the combined values of the original str object(s).

If I have a str, “Py”, and I add a str “thon” to it, I am combining them into a single collection, “Python”. Creating a new collection by combining or merging of two or more collections is called concatenation.

```
“P” + “y” + “t” + “h” + “o” + “n”
```


If I perform multiplication on the str, “Py” instead and multiply it with 3, I am combining three instances of the string into a single collection.


```
“P” + “y” + “P” + “y” + “P” + “y”
```

# 3.2 INDEXING AND SLICING

We have established that the str object is a type of collection. A str is a collection of characters that are also of the type str.

Let’s talk about indexing first. When you want to access an item in a specific position of a collection, you want to do so by accessing it by index.

When you look at the end of a textbook, you may find a page called Index that shows a list of specific vocabulary words and the page numbers that each one appears in.

##3.2.1 Understand indexing

Similarly, an index in computer science is the position of a value in a collection.

The index is an int value, representing the 1st, 2nd, … to the nth item.

To access the value by index in a collection, we simply write the variable name that points to a collection followed by [index], where index is an int value.

Let’s try obtaining the first character of the string:

In [ ]:
string = "Hello World"
first_char = string[1]
print(first_char)

You were probably expecting the letter H because it is the first character in the string. However, that is not the case because Python, like most programming languages, uses zero-based indexing. That means indices, starting from left to right, will start from 0.

Let’s obtain the first character of the string:

In [ ]:
string = "Hello World"
first_char = string[0]
print(first_char)

Now it works! Let’s try printing the last character, d. Remember that the indices start at 0.

Let’s try it:

In [ ]:
string = "Alphabet"
last_char = string[7]
print(last_char)

Notice that the index value for the position of the last value in a collection is one less than the length of the collection.

In this case, the length of the str collection, “Alphabet”, is 8. We were able to access the last character by using the index value, 7.

Recall that there a function exists to find the length of the collection, the len operator.

Thus, given a collection, n, the range of indices that exist is 0 to len(n)-1.

Let’s replace 7 with len(string)-1:

In [ ]:
string = "Alphabet"
last_char = string[len(string)-1]
print(last_char)

The indices of the str collection is as shown below:

```
"A" "l" "p" "h" "a" "b" "e" "t"
 0   1   2   3   4   5   6   7
```

What happens if we try to access a value by an index that is out of range?

Let’s try it:

In [ ]:
string = "Alphabet"
last_char = string[8]
print(last_char)

You probably expected some kind of ERROR to be raised. Because the range is from 0 to len(string) - 1, which is from 0 to 7, any number higher than 7 would result in an ERROR.

In this case, it is an IndexError that is raised, indicating that the index is out of range.

We can also use methods with indexing:

string = "Alphabet"
last_char = string[0]
print(last_char.isalpha())
Because a str is a collection of single character str objects, we can call methods with them.

##3.2.2 Negative indexing
What happens if we enter a negative value?

Let’s try it with -1:

In [ ]:
string = "Alphabet"
last_char = string[-1]
print(last_char)

You probably expected an ERROR again but instead the program output t, which is the last character in the str collection.

In Python, we can also access the last value using negative indexing. From left to right, the indices go from 0 to len(n) - 1. However, from right to left, we start with -1, then it decrements to -2, -3, and eventually, in the case of str, "Alphabet", -8.

Because negative indexing from right to left start at -1 instead of 0 (0 and positive numbers are used from left to right), the negative range to consider for our str is from -1 to -8. Notice that 8 is the length of our str.

Going from right to left uses the indices range -1 to -len(n).

Let’s add the negative indices of the str collection is as shown below:


```
‘A’ ‘l’ ‘p’ ‘h’ ‘a’ ‘b’ ‘e’ ‘t’
 0   1   2   3   4   5   6   7    Positive Indexing (0 to len(n)-1)
-8  -7  -6  -5  -4  -3  -2  -1    Negative Indexing (-len(n) to -1)
```


Forward:

```
Positive Indexing: (0 to len(n)-1)
Negative Indexing: (-len(n) to -1)
```


Backward:
```
Positive Indexing: (len(n)-1 to 0)
Negative Indexing: (-1 to -len(n))
```
In general, to access the first element, use 0, and to access the last element, use -1.

##3.2.3 Slicing
Not only can we get a value of a str using its index, but we can also take a slice from the str collection. Slicing is a common way to create copy a portion of a collection.

With slicing, a range of indices is considered. This range is a half opened range, meaning that it includes the start index, and not the end index.

The syntax used for slicing is similar to that for indexing.

For indexing we have, collection[index].

For slicing, it is collection[start:end]. By default, start is 0, and end is len(collection).

Let’s take a slice at this, starting at index 3:

In [ ]:
string = "Alphabet"
slice_start3 = string[3:]
print(slice_start3)

Since we didn’t choose an end index, by default it is the length of the collection.

Let’s take another slice, ending at index 3:

In [ ]:
string = "Alphabet"
slice_end3 = string[:3]
print(slice_end3)

This time, we didn’t choose a start index so by default, it is 0. Also notice that the value at index 3 is not included.

Notice that the slice string[:3] + slice string[3:] will concatenate into the original string, thus making a copy.

If we wanted to make a copy of the original string, we can simply take the entire slice, string[0:len(string)], which can be simplified to string[:] since by default, start is at index 0 and end is at its length.

Let’s copy the string by taking a slice:

In [ ]:
string = "Alphabet"
slice_copy = string[:3]
print(slice_copy)

Finally, let’s just slice with given start and end indices:

In [ ]:
string = "Alphabet"
slice2_to_6 = string[2:6]
print(slice2_to_6)

What happens if we enter an invalid index? Will an IndexError be raised?

Let’s try with an invalid start index:

In [ ]:
string = "Alphabet"
slice_start15 = string[15:]
print(slice_start15)

What happened? Nothing was raised?

Let’s examine what happened:

In [ ]:
string = "Alphabet"
slice_15 = string[15:]
print(len(slice_15))
print(type(slice_15))

Notice that the length of the slice is 0 and the type is a str. It appears that slice_15 is currently pointing to an empty str, ''.

When taking a slice, a copy is made. But because the range of indices is invalid (15 to 9), an empty str is returned.

Let’s try with an invalid end index:

In [ ]:
string = "Alphabet"
slice_end15 = string[:15]
print(slice_end15)

This time, we took a slice from the range 0 (default) to 15. This resulted in an entire copy as if it were from 0 to 9. Because the range 0 to 9 is valid, every index after 9 will not be considered even if the end index is invalid.

We can also slice using negative indices.

Ending with -1:

In [ ]:
string = "Alphabet"
slice_end_negative_1 = string[:-1]
print(slice_end_negative_1)

Starting at -1:

In [ ]:
string = "Alphabet"
slice_start_negative_1 = string[-1:]
print(slice_start_negative_1)

#3.3 LISTS

So far in the course, we’ve only explored one data type that is a collection, which is the str type. However, the str is only a collection of single str type characters. What if we want a collection of other data types such as int or float?

Fortunately, such a data type exists. In Python, there is the list data type. A list is another collection (like str) however its internal structure is different.

A list is Python’s built-in dynamic array, which is a contiguous block of memory that is reserved for storing multiple data types.

In Python, a list is represented by brackets, [ ].

Let us visit the grocery store once again. Instead of purchasing a refreshment, we will purchase actual grocery items this time. Sometimes, we may want to prepare a list of items we want to purchase ahead of time.

First let’s create an empty list. Like a str, a list can be empty. There are two ways to create an empty list.

The first way is to use the list constructor which is done like so:



```
lst = list()
```


The second way is to use list literals, meaning using the representative symbols:



```
lst = [ ]
```


We can also print our list objects:

In [ ]:
lst1 = list()
print(lst1)

lst2 = [ ]
print(lst2)

Notice that both outputs are the same. Since we haven’t added anything to the lists, the outputs are empty lists [ ].

Either way to create the list is fine. However, it is more common to use the list literals to create a list. This is because Python automatically recognizes a list as a collection enclosed in brackets [ ], similarly to how it recognizes a str as a collection enclosed in quotations ‘’ or “” .

However, if we use the constructor list(), python will have to look up what the constructor refers to. In short, using the literals will be faster than using the constructor.

We can also use the len( ) operator for the list, just like for str, to find the size of our list.

In [ ]:
lst2 = [ ]
print(len(lst2))

Since our list is empty, we should expect the length (or logical size) of our list to be 0. There are 0 items in the collection.

Now, back to the grocery store scenario. Let’s start by adding to our list object. Unlike str, a list is mutable, which means we can modify our list object without creating a new instance of it. First, let’s add objects to the grocery_list.

##3.3.1 Appending
To add an object to a list, we use the append method. The signature of the method is append(x), where x is any value.

Let’s try it:

In [ ]:
grocery_list = [ ]
grocery_list.append("milk")
grocery_list.append("eggs")
grocery_list.append("bread")
grocery_list.append("rice")
print(grocery_list)
print(len(grocery_list))

Notice that the ordering of the items inside our grocery_list are presented in the same order that we added them in. This is because the append method adds objects to the back of the list. Also, notice that the length of our grocery_list is 4 because we have added 4 items.

An advantage of using the list literals is initializing our list of objects. To initialize a list with values, simply place them inside the list literals when creating the object.



```
grocery_list = ["milk", "eggs", "bread", "rice"]
```


Because Python is a dynamically typed language, we can also store objects of various data types in the dynamic array, list. Note that you cannot do this in statically typed languages. In a statically typed language, the dynamic array can only store one type of data.

We may want to include our budget in the grocery_list so let’s do that by adding a float object to our grocery_list:

In [ ]:
grocery_list = ["milk", "eggs", "bread", "rice"]
grocery_list.append(20.00)
print(grocery_list)
print(len(grocery_list))

As a collection, the list object supports both indexing and slicing.

##3.3.2 Indexing
In the case of our grocery_list, the indices range from 0 to 4.

In [ ]:
grocery_list = ["milk", "eggs", "bread", "rice", 20.00]
print(grocery_list[0])
print(grocery_list[1])
print(grocery_list[2])
print(grocery_list[3])
print(grocery_list[4])

Accessing the value just for printing is called a getter, or access. We are only trying to get or access the value.

If we try to access an index that does not contain an object, we will receive an error message, just as we did for the str collection.

Let’s try it:

In [ ]:
grocery_list = ["milk", "eggs", "bread", "rice", 20.00]
print(grocery_list[5])

Notice the error is an IndexError, meaning the index we are trying to access in our collection does not exist. There is nothing in the “5th” position of our collection.

We can also access items from the list using a negative index, which python supports. Using a negative index, we can access items from the back of the list, starting at the index -1.

Let’s do that:

In [ ]:
grocery_list = ["milk", "eggs", "bread", "rice", 20.00]
print(grocery_list[-1])
print(grocery_list[-2])
print(grocery_list[-3])
print(grocery_list[-4])
print(grocery_list[-5])

Because a list is mutable, we can change the values inside by accessing them using an index.

Let’s change “milk” to “juice”. Because “milk” is in the 0th position, we will access it via index 0.

Run the following program:

In [ ]:
grocery_list = ["milk", "eggs", "bread", "rice", 20.00]
print(grocery_list)
grocery_list[0] = "juice"
print(grocery_list)

Accessing a value via index and changing it is called a setter. We are trying to set a value.

##3.3.3 Slicing
We can also take a slice of the list. Slicing takes a range of indices.The format for the slice is [ start : end ]. The value at the start position is included but the end is not considered. By default, the start is 0, and the end is the len(list).

Let’s say we only want to split up the task and have someone else purchase the first two items on the grocery_list while you take care of the rest.

Let’s do that:

In [ ]:
grocery_list = ["milk", "eggs", "bread", "rice"]
your_list = grocery_list[:2]
my_list = grocery_list[2:]

print(your_list)
print(my_list)

If you wanted to make a slice of the entire list, we can use the default slice by not inputting any values:

In [ ]:
grocery_list = ["milk", "eggs", "bread", "rice"]
my_slice = grocery_list[:]
print(my_slice)

What happens when we try to take a slice for the range of indices that does not exist?


```
grocery_list = ["milk", "eggs", "bread", "rice"]
my_slice = grocery_list[5:15]
```


Unlike indexing, slicing will not raise an Error if we are out of range.

What happens when the range (start to end) of the slice does not exist, the slicing will fail silently.

If we take a slice with a start that is part of the indices range but the end isn’t, the slice will still occur, starting with the start value and ending at the last possible index.

Why does the out of range slice result in an empty list? Well slicing is a form of copying. When a Python list is being copied, the program must first create an empty list, and then add the values. Because the range did not exist, no values were added. We will talk about more in detail about copying lists at the end of this chapter.

# 4.0 ITERATION: FOR LOOP

#Range collection
One of the most common uses with the for loop is iterating through a range of integers.

The range is a collection of all the int values given a start, stop, and steps. By default, the start is 0 and the steps incremented is 1. The stop value is not included.

We will create the range collection using the range constructor which is as followed:

range(start = 0, stop, steps = 1)
To iterate through a range with a for loop, we start with the keyword for, followed by a variable, typically named i, the in keyword, and the range created using its constructor.

Let’s try out the for loop and iterate through a range from 0 to 9 and print out all the values.

In [ ]:
for i in range(0, 10, 1):
    print(i)

Notice that 10 is not printed. That is because the stop is not included. So how does this work? What is the purpose of the variable i?

What happens is, when we iterate through a collection, we have our variable, i, reference each value. So first i points to 0. Then during the next iteration, it will point to 1, then 2, and continues changing until it references the last value, which is 9. It does not point to 10 because 10 is not part of the range, and therefore not part of the collection.

Since we know by default, start = 0, and steps = 1, we can simply just pass in a value for a stop.

Let’s simplify the previous example:


```
for i in range(10):
print(i)
```


Because a range is a collection, we can get a value at an index and take a slice copy. We can also use the len operator to find the length of the range.

Let’s iterate through a slice of the range:

In [ ]:
for i in range(10)[:5]:
    print(i)

Notice that the range we iterated through was sliced so that only the int values up to but not including 5 was considered. Of course, you may be wondering what’s the purpose of slicing a range. The answer is that there is no reason to do so when we could just loop through the range(5). The demonstration was simply to show that the range is a collection.

##4.0.1 Length of the list

Let’s also just use the len operator:

In [ ]:
print(len(range(10)))

Notice that we get 10 because the int values in the range are from 0 to 9.

So how is the range collection useful? We can use the range to iterate through a list similar to how we did so using a while loop. We will treat the range as a range of indices. Since we know by default, the start is at 0, we simply need to pass in the end, which is the length of the list.

The range of indices to consider when find a value at an index is from 0 to the len(collection) - 1. Since the stop is not included, range(len(collection)) will account from the int values from 0 to len(collection) -1.

Let’s try it out:

In [ ]:
beverages = ["water", "juice", "soda", "tea", "coffee"]

for i in range(len(beverages)):
    print(beverages[i])

Let’s try using the range collection by changing the steps. Let’s make steps 2 so that the range of int values will be every 2 numbers (or every other number). We will set the range to be from 0 to 10 and have it print every other number starting with 0. We should expect 0, 2, 4, 8 to be printed.

Run the following program:

In [ ]:
for i in range(10, 2):
    print(i)

Notice that nothing was printed. That is because the order goes like so: start, stop, end. Because we passed in more than one parameter, the first parameter becomes the start while the second becomes the stop. The remaining parameter, steps, becomes the default value 1.

Thus, range(10, 2) is not every 2 numbers from 0 to 10 but instead, every number from 10 to 2, which is not a valid range.

Let’s fix it by including a third parameter so we now have one for start, stop, and steps.

Run the following program:

In [ ]:
for i in range(0, 10, 2):
    print(i)

That’s better!

The range can also count backwards. Simply have the start a larger int value than the stop value and have the steps become -1 (or any valid negative number).

For example:

In [ ]:
for i in range(5, 0, -1):
    print(i)

This program iterates through the range from 5 to 1, (0 is not included in the range). Starting with 5, the next number is 1 smaller than the previous until it stops at 0.

To summarize, the range collection can be created using the range constructor as followed:



```
range(start = 0, stop, steps = 1), simplified to range(stop)

range(start, stop, steps = 1), simplified to range(start, stop)

range(start, stop, steps)
```

Practice
What will the following program output?



```
beverages = ["water", "juice", "soda", "tea", "coffee"]

for i in range(-len(beverages), len(beverages)):
    print(beverages[i])
```


Let’s analyze this program. We see that we are iterating through a range. Notice that only two values are passed in so the constructor used to create the range will be range(start, stop), which means that steps will be the default value of 1.

We know that len(beverages) will result in the int value 5, because there are 5 items in the list. Therefore, the range is every number from -5 to 4 (remember that the stop, 5, is not included).

The program also prints the values from the list based on the index. Recall that from left to right with positive indexing, is from 0 to len(beverages) - 1 and with negative indexing, is from -len(beverages) to -1.


```

["water", "juice", "soda", "tea", "coffee"]
    0        1        2      3        4
   -5       -4       -3     -2       -1
```


Thus, if we run the program, we expect it to print the values from the indices -5 to 4. This results in the programming printing each value from the list twice. Once with negative index (-5 to -1) and again with positive index (0 to 4).

Pretty cool right?


##4.0.2 Iterable collection 
Now that we’ve discussed the range collection and iterating through it, let’s talk about iterating through a collection we’ve already seen before, namely str and list.

Let’s iterate through a str. We can use the variable i again but it’s recommended to only use that when you will be using i for indexing. Let’s be more specific and name the variable char, short for character.

Run the following program:

In [ ]:
string = "Alphabet"
for char in string:
    print(char)

As you might expect, the program prints each character of the string. We can format our print statement so that the letters will be printed in one line. The print statement automatically prints to the next line because there is a parameter, end that has the default value '\n', which is the new line character.

When outputting with the print statement, the output is represented as a str, similar to how an input is by default a str. After the output is represented as a str, the print statement will attach the new line character to the end, which causes it to print the object and the new line character.

For example, if we were to print a list, [1, 2, 3], the output will be represented as a str, ‘[1, 2, 3]’. A new line character will be tagged onto the str representation so that it becomes ‘[1, 2, 3]\n’.

To change the end value and have the output be printed in one line separated by space, we can pass in a value for end.

In this case, we will pass in end = ' ', a white space:


```
string = "Alphabet"
for char in string:
    print(char, end = " ")
```


We can also have end be a comma, instead:

```
string = "Alphabet"
for char in string:
    print(char, end = ",")
```

Let’s move on to printing values in a list. Again, since we are not iterating through a range for indexing purposes, let’s name our variable more appropriately. A common variable name used for iterating through a list is elem, short for element, or val, short for value.

Of course, if your list only contains values of a specific data type, you can be more specific with the variable name.

For numbers (int or float), you could name the variable num, short for number. For strings that form words from the English language, you could name the variable word. If you have a nested list, you could name the variable, lst.

Since the variable for our list is beverages, we can be very specific and name our variable, refreshment.

Let’s print each refreshment from beverages separated by a white space:

In [ ]:
beverages = ["water", "juice", "soda", "tea", "coffee"]

for refreshment in beverages:
    print(refreshment, end = " ")

##4.0.3 Practice 

What happens if we run the following program?

In [ ]:
int_list = [] 
for i in range(10): int_lst.append(i)
   print(int_list)

The program will add the int values 0 to 9 to the list.

What happens if we now run this program?

In [ ]:
int_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

for num in int_list:
    num *= 2

print(int_list)


You may have expected int_list to have been mutated so that each value is doubled, [0, 2, 4, 6, 8, 10, 12, 14, 16, 18].

However we see that there is no change to the list. Why is that? It is because we can only mutate the list by using its methods or by accessing the values by index.

In the program above, when we iterated through the list with a for loop, the variable, num, changed and not the values in the list.

Let’s trace the program:

First iteration, num references the first value in the list, 0. It is then updated by a factor of 2. Then during the next iteration, num references the next value in the list, 1. It is then updated by a factor of 2.

If we iterate through the entire list, we see that the variable, num, changes like so:

```
First iteration:              num →  0     →  0
Second iteration:             num →  1     →  2
Third iteration:              num →  2     →  4
Fourth iteration:             num →  3     →  6
Fifth iteration:              num →  4     →  8
Sixth iteration:              num →  5     →  10
Seventh iteration:            num →  6     →  12
Eighth iteration:             num →  7     →  14
Ninth iteration:              num →  8     →  16
Tenth (last) iteration:       num →  9     →  18
```

To mutate the list, we will need to access the values by index. This can be done as seen in the earlier example with a range collection.

Let’s actually mutate the values:


```
int_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

for i in range(len(int_list)):
    Int_list[i] *= 2

print(int_list)
```


##4.0.4 Infinite for loop

By now, you should have a good understanding of the two loops (while and for), and their differences. The while loop requires a condition to run. In addition, without an exit condition, the while loop will run forever, becoming an infinite loop.

But since a for loop does not run based on a condition but instead iterates over a collection, is it possible for a for loop to run infinitely?

The answer is yes. The only way to have an infinite for loop is if you iterate over an infinitely large collection. However, infinity is just a concept and not an actual number. So how can we create an infinitely large collection?

An infinite for loop can occur when the collection being iterated over grows inside the for loop.

For instance, if we iterate through a list using a for loop and within the loop, constantly add values to the list, the list will continue to grow at the same rate as the variable used to reference each value in the list changes.

```
int_list = [1, 2, 3, 4, 5]
for num in int_list:
    int_list.append(num)
```

In the first iteration, num references 1, the first value. int_list then appends 1. In the next iteration, num references 2, the second value and int_list appends 2. This pattern continues and as a result, int_list will contain an infinity cycle of the values 1, 2, 3, 4, 5.

Of course, since nothing is being displayed, you might not know what is happening while the programming is still running.

Let’s add a print statement to see the infinite loop in action.

```
int_list = [1, 2, 3, 4, 5]
for num in int_list:
    int_list.append(num)
```

To recap on infinite loops, a while loop will run endlessly if there is no adequate exit condition and a for loop will run endlessly if the collection grows during each iteration.

in operator (conditional)
We have seen the in operator being used in a for loop. The in operator allows a variable to reference each value in an entire collection. Aside from iterating through a collection with a for loop, the in operator can also be used in a conditional statement.

Unlike in a for loop, the in operator used for a conditional statement is used to determine if a value exists in a collection and returns a bool, True or False.

When visiting the grocery store to purchase a beverage, we can quickly decide whether we want to purchase soda if its there or not.

Let’s use a conditional statement to do so:

In [ ]:

beverages = ["water", "juice", "soda", "tea", "coffee"]

if "soda" in beverages:
    print("I will purchase soda.")
else:
    print("Soda is not available.")

We can also use the not operator within the conditional statement. After all, the condition "soda" in beverages returns either True or False.

In [ ]:

beverages = ["water", "juice", "soda", "tea", "coffee"]
if "soda" not in beverages:
    print("Soda is not available.")
else:
    print("I will purchase soda.")

##4.0.5 Practice
Write a program using a for loop that accomplishes the task similar to an "if x in collection" conditional statement.

Prompt the user for an int input, x. The program will search through a list of integers, int_list, and change found to True if the int value associated with x is in the list.

Here is the code for you to start with:

In [ ]:
x = int(raw_input("Please enter a number: "))
int_list = [10, 12, 21, 19, 15, 14, 6]
found = False

# TODO: finish code here
for num in int_list:
    if x == num:
        found = True
        break

print(found)

We can also use a for loop to perform other interesting tasks. For instance, we can print out specific shapes using a for loop and print statement.

Run the following program:

In [ ]:
for i in range(5):
    print("*"*4)

For each line, we printed a string of 4 asterisks. Doing so resulted in a 5 x 4 rectangle.

We can also print squares. A square is a special type of rectangle where the length and width are of the same size. Let’s write a program that prints an n x n square formed by asterisks. The size, n will be determined by a user input.

If the user inputs 3, the program will display:


```

***
***
***
```


If the user inputs 5, the program will display:



```
*****
*****
*****
*****
*****
```


Running the following program will produce such results:

In [ ]:
n = int(input("Enter a number, n"))
for i in range(n):
    print(n*"*")

Enter a number, n3
***
***
***

Select the code snippet that would modify the previous program such that it printed a triangle instead of a square
Example output


```
*
**
***
```

# 5.0 CHALLENGES

## Exercise 1
Create a program that asks the user to enter their name and their age. Print out a message addressed to them that tells them the year that they will turn 100 years old.

Extras:

Add on to the previous program by asking the user for another number and printing out that many copies of the previous message. 

Print out that many copies of the previous message on separate lines. (Hint: the string "\n is the same as pressing the ENTER button)

## Exercise 2

Ask the user for a number. Depending on whether the number is even or odd, print out an appropriate message to the user. Hint: how does an even / odd number react differently when divided by 2?

Extras:

If the number is a multiple of 4, print out a different message.

## Exercise 3

Take a list, say for example this one:

  a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
and write a program that prints out all the elements of the list that are less than 5.

Extras:

Instead of printing the elements one by one, make a new list that has all the elements less than 5 from this list in it and print out this new list.

## Exercise 4
Create a program that asks the user for a number and then prints out a list of all the divisors of that number. (If you don’t know what a divisor is, it is a number that divides evenly into another number. For example, 13 is a divisor of 26 because 26 / 13 has no remainder.)

## Exercise 5 

Take two lists, say for example these two:

  a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
  b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
  
and write a program that returns a list that contains only the elements that are common between the lists (without duplicates). Make sure your program works on two lists of different sizes.

Extras:

Randomly generate two lists to test this

## Exercise 6 

Ask the user for a string and print out whether this string is a palindrome or not. (A palindrome is a string that reads the same forwards and backwards.)

## Exercise 7
Generate a random number between 1 and 9 (including 1 and 9). Ask the user to guess the number, then tell them whether they guessed too low, too high, or exactly right.

## Exercise 8
Ask the user for a number and determine whether the number is prime or not. (For those who have forgotten, a prime number is a number that has no divisors.).

## Exercise 9

Write a program that asks the user how many Fibonnaci numbers to generate and then generates them. Take this opportunity to think about how you can use functions. Make sure to ask the user to enter the number of numbers in the sequence to generate.(Hint: The Fibonnaci seqence is a sequence of numbers where the next number in the sequence is the sum of the previous two numbers in the sequence. The sequence looks like this: 1, 1, 2, 3, 5, 8, 13, …)

## Excercise 10

Write a program that takes a list and returns a new list that contains all the elements of the first list minus all the duplicates.

## Excercise 11

Write a password generator in Python. Typically passwords have a mix of lowercase letters, uppercase letters, numbers, and symbols. The passwords should be random, generating a new password every time the user asks for a new password.

## Excercise 12

Write a function that takes an ordered list of numbers (a list where the elements are in order from smallest to largest) and another number. The function decides whether or not the given number is inside the list and returns (then prints) an appropriate boolean. You can google for a concept called Binary Search.